/* long-cang-regular - chinese-simplified */
@font-face {
  font-family: 'Long Cang';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/long-cang-v5-chinese-simplified-regular.eot'); /* IE9 Compat Modes */
  src: local('Long Cang Regular'), local('LongCang-Regular'),
       url('../fonts/long-cang-v5-chinese-simplified-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/long-cang-v5-chinese-simplified-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/long-cang-v5-chinese-simplified-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/long-cang-v5-chinese-simplified-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/long-cang-v5-chinese-simplified-regular.svg#LongCang') format('svg'); /* Legacy iOS */
  /*unicode-range: U+6797, U+4f9d, U+97f5, U+6731, U+5609, U+73c9, U+7ed3, U+5a5a, U+5566, U+793c, U+548c, U+5bb4, U+65f6, U+95f4, U+5730, U+70b9, U+524d, U+540e, U+5468, U+4e94, U+508d, U+665a, U+65e5, U+767d, U+5929, U+65c5, U+6e38, U+9080, U+8bf7*/
  /*林 依 韵 朱 嘉 珉 结 婚 啦 礼 和 宴 时 间 地 点 前 后 周 五 傍 晚 日 白 天 旅 游 邀 请*/
}

.title{
  font-family:'Long Cang', cursive;
  font-size: 5rem;
}

.subtitle{
  font-family:'Long Cang', cursive;
  font-size: 3.33rem;
}

.info{
  font-size: 1.25rem;
}

.has-bg-img{
  background-repeat: no-repeat; 
  background-position: center top; 
  background-size: cover; 
  background-attachment: scroll;
}

.item-bg-img{
  height: 100vh;
  background-repeat:no-repeat; 
  background-position:center center;
  background-size: cover;
  display: flex; /*make child at bottom*/
  flex-direction: column;
}

.item-caption{
  background: rgba(0,0,0,0.2);
  text-align: center;
  font-size: 1.25rem;
  color: #fff;
  padding-bottom: 20px;
  margin-top: auto;
}
