.title{
	font-family:cursive; 
	font-size: 5rem;
}

.subtitle{
	font-family:cursive;
	font-size: 3.33rem;
}

.info{
	font-size: 1.25rem;
}

.slideritem{
	height: 100vh;
	background-repeat:no-repeat; 
	background-position:center center;
	background-size: cover;
}
